<app-titlebar [titletext]="'Test Page'" [titleiconfacode]="'fas fa-code'"></app-titlebar>

<body>
    <div class="main container">
        <h1>Access Token</h1>
        <h3>You can use this token to make REST API calls</h3>
        <pre><code>{{ accessToken }}</code></pre>
        <hr>
        <h1>Test Response From Server</h1>
        <h3>If you see this you are authenticated properly</h3>
        <pre *ngIf="companies$ | async as companies"><code>{{ companies | json }}</code></pre>
    </div>
</body>
