.container
{
    margin-top: 2.5%;
}
#picture
{
    padding-top: 5%;
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%;
}

.fa-exclamation-circle
{
        line-height: 5px;
        font-size: 30px;
        color: crimson;
}

.icon
{
    width: 50px;
    height: auto;
    padding-bottom: 2%;
}
.titles
{
    font-weight: bold;
    color: #3e4d61;
}
.mat-divider
{
    border-top-color: #3e4d61;
    padding-bottom: 2%;
}
