<app-game-titlebar titleText="{{game?.title}}" imageUrl="{{game?.logoUrl}}" subTitleText="News Articles"></app-game-titlebar>

<div class="main container page">
    <div class="article-container">
        <img class="article-website-logo" src="https://static1.squarespace.com/static/5a4e740c4c326d723144bf21/t/5a4ebe080852296d70939694/1604354690678/">
        <div class="d-flex article-text-container">
            <h3 class="article-title">GameStop Will Sell DOOM Eternal Early to Help Separate Crowds</h3>
            <i class="icon-important fas fa-exclamation-circle"></i>
        </div>
        <h5 class="article-date">4 hours ago</h5>
        <mat-divider></mat-divider>
        <img class="article-website-logo" src="https://gamespot1.cbsistatic.com/bundles/gamespotsite/images/logo.png">
        <h3 class="article-title">What Time Does Doom Eternal Unlock on PS4, Xbox One, And Steam?</h3>
        <h5 class="article-date">5 hours ago</h5>
        <mat-divider></mat-divider>
        <img class="article-website-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/GamesRadar.svg/1200px-GamesRadar.svg.png">
        <div class="d-flex article-text-container">
            <h3 class="article-title">Doom Eternal Review: "Screams At You To Move Faster And To Fight Harder, And You Can Do Nothing But Obey"</h3>
            <i class="icon-important fas fa-exclamation-circle"></i>
        </div>
        <h5 class="article-date">2 days ago</h5>
        <mat-divider></mat-divider>
    </div>
</div>
