.icon-important {
    font-size: 30px;
    color: crimson;
    line-height: 5px;
}

.article-container
{
   padding-top: 25px;
}

.article-text-container {
    align-items: center;
    justify-content: space-between;
    line-height: 1px;
}

.article-website-logo {
    width: 50px;
    height: auto;
    padding-bottom: 2%;
}

.article-title {
    font-weight: bold;
    color: #3e4d61;
    margin-right: 10px;
}

.article-date {

}

.mat-divider {
    border-top-color: #3e4d61;
    padding-bottom: 2%;
}
