<app-titlebar [titletext]="'Reset Password'" [titleiconfacode]="'fas fa-key'"></app-titlebar>

<body>
<div class="main container page">
    <div class="password-reset-container container">
        <form class="password-reset-form" [formGroup]="passwordResetForm" (ngSubmit)="sendPasswordResetEmail()">
            <mat-form-field class="password-reset-form-field" appearance="outline" style="margin-top: 30px;">
                <mat-label>Email</mat-label>
                <input matInput form formControlName="email" class="password-reset-form-input">
                <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Please enter a valid email address.
                </mat-error>
                <mat-error *ngIf="email.hasError('required')">
                    Email is <strong>required</strong>.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" class="submit-button reset-password-button" [disabled]="!passwordResetForm.valid"
                    (click)="sendPasswordResetEmail()">Reset Password
            </button>
        </form>
        <hr>
        <button mat-stroked-button color="primary" routerLink="/login">Back to Login</button>
    </div>
</div>
</body>
