.titlebar {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin-top: 45px;
    height: 40px;
    background-color: #253245;
    #text-align: center;
    z-index: 10;
}

.title-text {
    color: #fff;
    top: 50%;
    font-weight: bold;
    font-size: 18px;
    transform: translateY(50%);
}

.title-icon {
    padding-right: 10px;
}
