<!-- Navbar -->
<nav class="navbar navbar-light fixed-top clean-navbar shadow-sm">
    <div class="container navbar-container">
        <button *ngIf="!isInStartingPage; else backArrowElse" (click)="this.goBack()" class="back-button nav-control-button">
            <i class="fas fa-angle-left back-button-icon"></i>
        </button>
        <ng-template #backArrowElse>
            <div class="hide-icon"></div>
        </ng-template>
        <a class="navbar-brand logo" routerLink="watchlist">
            <img src="/assets/logos/GameEyeLogoWhite.png" alt="GameEye">
        </a>
        <button *ngIf="isLoggedInAndVerified; else menuElse" (click)="this.sidemenu.toggle()" class="navbar-toggler nav-control-button">
            <i class="fas fa-bars navbar-toggler-icon-2"></i>
        </button>
        <ng-template #menuElse>
            <div class="hide-icon"></div>
        </ng-template>
    </div>
</nav>

<!-- Sidemenu -->
<app-sidemenu></app-sidemenu>
