// Bootstrap Styles
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/variables";

#msgCenter {
    text-align: center;
}

.game-card {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 13px 13px 13px 12px;
    background-color: #1f293b;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color ease 0.3s;
    font-size: 36px;
    font-family: Lato, sans-serif;

    ::ng-deep .mat-ripple-element {
        z-index: -1 !important;
    }
}

.game-thumb {
    .mat-icon {
        font-size: 40px;
        display: flex;
        color: white;
    }

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    border-radius: 15%;
    max-width: 65px;
    max-height: 65px;
}

.game-card.delete-color {
    background-color: #6f0000;
    transition: background-color ease 0.3s;
}

.game-card:hover {
    background-color: #2e3855;
    transition: background-color ease 0.3s;
}

.game-card:hover.delete-color {
    background-color: #b61818;
    transition: background-color ease 0.3s;
}

::ng-deep .mat-badge-content {
    position: relative;
    text-align: center !important;
    height: 18px !important;
    width: 21px !important;
    padding: 10px !important;
    top: auto !important;
    right: 5px !important;
    font-size: large;
    font-weight: normal;
    display: table;
    background-color: crimson;
    box-sizing: content-box;
}

.title-container {
    justify-content: left;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    font-size: x-large;
    margin-bottom: 0;
}

.action-button {
    box-shadow: 0 0 3px grey;
    right: 5%;
    position: fixed;

    .mat-icon {
        font-size: x-large;
    }

    outline: none;
}

.add-button {
    bottom: 25px;
    background-color: #1f293b;
}

.delete-button {
    bottom: 100px;
    background-color: #af0000;
}

.delete-button.finish {
    background-color: #008d75;
}

@include media-breakpoint-down(sm) {
    ::ng-deep .mat-badge-content {
        font-size: medium;
    }

    .title-container {
        font-size: large;
    }
}
