
<app-titlebar [titletext]="'My Watchlist'" [titleiconfacode]="'fa fa-list'"></app-titlebar>


<div class="main container page">
    <mat-card matRipple matRippleCentered matRippleColor="rgba(55, 72, 104, 0.8)" matBadge="21" matBadgeSize="medium" tabindex="0" class="gameCard">
        <div mat-card-avatar class="gameThumb" id="G1"></div>
        <mat-card-content class="titleContainer">DOOM</mat-card-content>
    </mat-card>
    <mat-card matRipple matRippleCentered matRippleColor="rgba(55, 72, 104, 0.8)"  matBadge="31" matBadgeSize="medium" tabindex="0" class="gameCard">
        <div mat-card-avatar="" class="gameThumb" id="G2"></div>
        <mat-card-content class="titleContainer">2K21</mat-card-content>
    </mat-card>
    <mat-card matRipple matRippleCentered matRippleColor="rgba(55, 72, 104, 0.8)" matBadge="1" matBadgeSize="medium" tabindex="0" class="gameCard">
        <div mat-card-avatar="" class="gameThumb" id="G3"></div>
        <mat-card-content class="titleContainer">Fall Guys</mat-card-content>
    </mat-card>
    <mat-card matRipple matRippleCentered matRippleColor="rgba(55, 72, 104, 0.8)"  matBadge="5" matBadgeSize="medium" tabindex="0" class="gameCard">
        <div mat-card-avatar="" class="gameThumb" id="G4"></div>
        <mat-card-content class="titleContainer">Rainbow Six Siege</mat-card-content>
    </mat-card>
    <mat-card matRipple matRippleCentered matRippleColor="rgba(55, 72, 104, 0.8)"  matBadge="15" matBadgeSize="medium" tabindex="0" class="gameCard">
        <div mat-card-avatar="" class="gameThumb" id="G5"></div>
        <mat-card-content class="titleContainer">GTA V</mat-card-content>
    </mat-card>
    <button mat-fab="" class="addButton">
        <mat-icon>add</mat-icon>
    </button>
</div>

