// Bootstrap Styles
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/mixins";
@import "../../../../../node_modules/bootstrap/scss/variables";

#msgCenter
{
    text-align: center;
}
.game-thumb
{
    .mat-icon
    {
        font-size: 40px;
        display: flex;
        color: white;
    }
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 15px;
    border-radius: 15%;
    max-width: 65px;
    max-height: 65px;
}

.game-card
{
    justify-content: space-between;
    box-shadow: 2.5px 2.5px 10px grey;
    align-items: center;
    display: flex;
    padding: 13px 13px 13px 12px;
    background-color: #1f293b;
    margin-bottom: 10px;
    cursor: pointer;
    ::ng-deep .mat-ripple-element{
        z-index:-1 !important;
    }

}

::ng-deep .mat-badge-content {
    position: relative;
    text-align: center !important;
    height: 18px !important;
    width:  21px !important;
    padding: 10px !important;
    top: auto !important;
    right: 5px !important;
    font-size: large;
    font-weight: normal;
    display: table;
    background-color: crimson;
    box-sizing: content-box;
}

.title-container
{
    justify-content: left;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    font-size: x-large;
    margin-bottom: 0;
}

.add-button
{
    box-shadow: 2.5px 2.5px 10px grey;
    background-color: #1f293b;
    position: fixed;
    bottom: 25px;
    right: 5%;
    .mat-icon
    {
        font-size: x-large;
    }
    outline: none;
}
.delete-button
{
    visibility: visible!important;
    box-shadow: 2.5px 2.5px 10px grey;
    background-color: #1f293b;
    position: fixed;
    bottom: 100px;
    right: 5%;
    .mat-icon
    {
        font-size: x-large;
    }
    outline: none;
}


@include media-breakpoint-down(sm) {
    ::ng-deep .mat-badge-content {
        font-size: medium;
    }

    .title-container
    {
        font-size: large;
    }
}
