<app-titlebar [titletext]="'My Watchlist'" [titleiconfacode]="'fa fa-list'"></app-titlebar>
<div class="main container page">
    <div *ngIf="gamelist?.length !== 0; else noGames">
        <div *ngFor="let aGame of gamelist; let i = index" [attr.data-index]="i">
            <mat-card matRipple matRippleCentered matRippleColor="rgba(55, 72, 104, 0.8)" matBadge="{{aGame.notificationCount}}" [matBadgeHidden]="aGame.notificationCount<=0" matBadgeSize="medium" tabindex="0" class="game-card" routerLink="/updates/{{i}}">
                <div *ngIf="aGame.logoUrl == ''; else elseBlock">
                    <div mat-card-avatar class="game-thumb"><mat-icon>videogame_asset</mat-icon></div>
                 </div>
                <ng-template #elseBlock>
                    <img mat-card-avatar src="{{aGame.logoUrl}}" alt="game logo" class="game-thumb">
                </ng-template>
                <mat-card-content class="title-container">{{aGame.title}}
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <ng-template #noGames>
        <p id="msgCenter">No Games To Display</p>
    </ng-template>
    <a mat-fab color="primary" class="delete-button" routerLink="/updates/1">
        <mat-icon>delete</mat-icon>
    </a>
    <a mat-fab color="primary" class="add-button" routerLink="/watchlist/add-game">
        <mat-icon>add</mat-icon>
    </a>
</div>
