.mat-card {
    background-color: #2d3a4c;
    color: white;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    font-size: 1.25em;
    width: 80%;
    height: 80%;
}
.mat-icon
{
    color: white;
    display: inline  !important;
    align-self: center!important;
    justify-self: center!important;
}

.mat-grid-tile {
    height: 33%;
    width: 200%;
    color: white;
}




