<app-game-titlebar titleText="{{game?.title}}" imageUrl="{{game?.logoUrl}}"></app-game-titlebar>

<div class="main container page">
    <div class="row">
        <div class="col-6 col-md-12 left">
            <div class="card shadow" mat-ripple matRippleCentered>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-center">
                            <i class="fas fa-exclamation-circle"></i>
                        </div>
                        <div class="col-12 col-md-10 col-lg-11 d-flex justify-content-center justify-content-md-start">
                            <p>Important Updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-12 right">
            <div matBadge="0{{game?.notificationCounts.articleNotifications}}" matBadgeSize="large" matBadgeHidden="{{game?.notificationCounts.articleNotifications <= 0}}">
                <div class="card shadow" id="news" routerLink="/articles/{{gameId}}" mat-ripple matRippleCentered>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-center">
                                <i class="far fa-newspaper"></i>
                            </div>
                            <div class="col-12 col-md-10 col-lg-11 d-flex justify-content-center justify-content-md-start">
                                <p>News Articles</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-12 left">
            <div class="card shadow" mat-ripple matRippleCentered>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-center">
                            <i class="fab fa-twitter"></i>
                        </div>
                        <div class="col-12 col-md-10 col-lg-11 d-flex justify-content-center justify-content-md-start">
                            <p>Tweets</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-12 right">
            <div class="card shadow" mat-ripple matRippleCentered>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-center">
                            <i class="fab fa-reddit-alien"></i>
                        </div>
                        <div class="col-12 col-md-10 col-lg-11 d-flex justify-content-center justify-content-md-start">
                            <p>Reddit Posts</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-12 left">
            <div class="card shadow" mat-ripple matRippleCentered>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-center">
                            <i class="far fa-images"></i>
                        </div>
                        <div class="col-12 col-md-10 col-lg-11 d-flex justify-content-center justify-content-md-start">
                            <p>Images</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-12 right">
            <div class="card shadow" mat-ripple matRippleCentered>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-2 col-lg-1 d-flex justify-content-center justify-content-md-center">
                            <i class="fab fa-youtube"></i>
                        </div>
                        <div class="col-12 col-md-10 col-lg-11 d-flex justify-content-center justify-content-md-start">
                            <p>YouTube Videos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

