.card
{
    background-color: gray;
    color: white;
    margin-bottom: 4%;
    align-items: center;
    font-size: 25px;
    @media only screen and (max-width: 768px)
    {
     font-size: 20px;
    }
}
p{
    white-space: nowrap;
}
#news{
    background-color: #2d3a4c;
}
i
{
    display: contents;
    text-align: center ;
    font-size: 50px;
    @media only screen and (max-width: 768px)
    {
        font-size: 65px;
    }
}
.col-12
{
    align-items: center !important;

}




