<app-titlebar [titletext]="'Add Games to Watchlist'" [titleiconfacode]="'fas fa-gamepad'"></app-titlebar>

<body>
<div class="main container page">
    <div id="search-box-container">
        <mat-form-field id="search-box" class="shadow" appearance="fill">
            <mat-icon matPrefix fontSet="fa" fontIcon="fa-search" id="search-box-icon" color="primary"></mat-icon>
            <input matInput type="search" [formControl]="searchField" id="search-box-input"
                   placeholder="Search for games...">
        </mat-form-field>
        <div *ngIf="gameSuggestions.length > 0" id="autocompletion-container">
            <div id="autocompletion-container-spacer"></div>
            <div *ngFor="let suggestion of gameSuggestions; index as i;" class="autocompletion-suggestion" [class.in-watchlist]="checkGameInWatchlist(i)">
                <i class="autocompletion-icon fas fa-gamepad"></i>
                <h4 class="autocompletion-title">{{suggestion.title}}</h4>

                <button *ngIf="!checkGameInWatchlist(i); else elseMinus" mat-icon-button class="autocompletion-action" (click)="addGameToWatchlist(i)">
                    <i class="button-plus fas fa-plus"></i>
                </button>
                <ng-template #elseMinus>
                    <button mat-icon-button class="autocompletion-action" (click)="removeGameFromWatchlist(i)">
                        <i class="button-minus fas fa-minus"></i>
                    </button>
                </ng-template>
            </div>
        </div>
    </div>
</div>
</body>
