@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/mixins";
@import "~node_modules/bootstrap/scss/variables";

#search-box-container {
    text-align: center;
    margin-top: 20px;
}

#search-box {
    font-size: 24px;
    width: 80%;
    background-color: #d9d9d9;
    transition: box-shadow 0.3s ease;
}
#search-box:focus-within {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175) !important;
    transition: box-shadow 0.3s ease;
}

#search-box-icon {
    font-size: 26px;
    top: 50%;
    transform: translateY(-50%);
}
#search-box-input {
    margin-left: 30px;
    padding-right: 20px;
    top: 50%;
    transform: translateY(-40%);
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: #1f293b;
}
::ng-deep input.mat-input-element {
    color: black;
}
::ng-deep .mat-form-field-wrapper{
    margin-bottom: -1.3275em;
}

#autocompletion-container {
    display: block;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #232f3e;
    z-index: -1;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: auto;
    text-align: left;
    flex-grow: 1;
    flex-direction: row;
    transition: height 0.2s linear;
}
#autocompletion-container-spacer {
    width: 100%;
    padding-top: 1.3275em;
    background-color: #202c39;
}
.autocompletion-suggestion {
    display: flex;
    color: white;
    border-bottom: 1px solid rgb(97, 97, 97);
    padding-top: 12px;
    padding-bottom: 12px;
    transition: background-color 0.2s ease;
    align-items: center;
}
.autocompletion-suggestion:hover {
    background-color: #344563;
    transition: background-color 0.2s ease;
}
.autocompletion-suggestion.in-watchlist {
    background-color: #007864;
    transition: background-color 0.2s ease;
}
.autocompletion-suggestion.in-watchlist:hover {
    background-color: #008d75;
    transition: background-color 0.2s ease;
}
.autocompletion-icon {
    font-size: 20px;
    margin-left: 20px;
}
.autocompletion-title {
    font-size: 22px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 0;
}
.autocompletion-action {
    margin-left: auto;
    margin-right: 15px;
    font-size: 24px;
}

@include media-breakpoint-down(sm) {
    #search-box {
        font-size: 20px;
        width: 100%;
    }
    #autocompletion-container {
        width: 100%;
    }
    .autocompletion-suggestion {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .autocompletion-title {
        font-size: 14px;
        margin-left: 15px;
    }
    .autocompletion-logo {
        font-size: 10px;
        margin-left: 15px;
    }
    .autocompletion-action {
        font-size: 16px;
        margin-right: 10px;
    }
}

.button-plus {
    color: #0fb89b;
}

.button-minus {
    color: #951b1b;
}
