<div class="titlebar shadow" [style.height] = "subTitleText ? '60px' : null">
    <div class="container">
        <p class="title-text">
            <img *ngIf="imageUrl; else gameIcon" class="title-icon" src="{{imageUrl}}" alt="G">
            <ng-template #gameIcon>
                <i class="title-icon fas fa-gamepad"></i>
            </ng-template>
            {{titleText}}
            <p class="subtitle-text" *ngIf="subTitleText">
            {{subTitleText}}
            </p>
    </div>
</div>

