<app-titlebar [titletext]="'Settings'" [titleiconfacode]="'fa fa-cog'"></app-titlebar>

<body>
<div class="main container page">
    <h2 class="section-header">Notifications</h2>
    <hr>
    <mat-slide-toggle color="primary">Receive notifications</mat-slide-toggle>
    <br><br>
    <ul>
        <div>
            <mat-checkbox *ngIf="receiveNotifications" [disabled]="receiveNotifications == true" color="primary">Important updates</mat-checkbox>
            <mat-checkbox *ngIf="receiveNotifications" [disabled]="receiveNotifications == false" color="primary" [checked]="newsArticlesNotifications" [checked]="receiveNotifications"
                          (click)="newsArticlesCheckboxChanged($event)">News articles
            </mat-checkbox>
            <mat-checkbox *ngIf="receiveNotifications" [disabled]="receiveNotifications == true" color="primary" [checked]="receiveNotifications == false">Reddit posts</mat-checkbox>
            <mat-checkbox *ngIf="receiveNotifications" [disabled]="receiveNotifications == true" color="primary" [checked]="receiveNotifications == false">Images</mat-checkbox>
            <mat-checkbox *ngIf="receiveNotifications" [disabled]="receiveNotifications == true" color="primary" [checked]="receiveNotifications == false">YouTube videos</mat-checkbox>
        </div>
        <br>
        <div>
            <mat-slide-toggle *ngIf="notifyOnlyIfImportant" disabled color="primary">Notify only if important</mat-slide-toggle>
        </div>
    </ul>
</div>
</body>
