.mat-form-field + .mat-form-field {
    margin-left: 8px;
}

.example-section {
    margin: 12px 0;
}

.example-margin {
    margin: 0 12px;
}

ul {
    list-style-type: none;
    margin-top: 4px;
}

mat-button-toggle-group {
    margin-left: 12px;
}
