@import "~node_modules/bootstrap/scss/functions";
@import "~node_modules/bootstrap/scss/mixins";
@import "~node_modules/bootstrap/scss/variables";


.mat-button-toggle-checked {
    background-color: #3e4d61;
    color: white;
}

#notification-permission-banner {
    display: flex;
    width: 60%;
    min-height: 60px;
    background-color: #008D75;
    border-radius: 5px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
    transition: background-color 0.3s ease;
}
#notification-permission-banner.not-allowed {
    background-color: #6f0000;
    transition: background-color 0.3s ease;
}

@include media-breakpoint-down(sm) {
    #notification-permission-banner {
        width: 100%;
    }
}

.banner-text-container {
    margin-left: 10px;
}
.banner-header {
    color: #eaeaea;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0;
}
.banner-text {
    color: #eaeaea;
    margin-bottom: 0;
}

.permit-notifications-button {
    color: #eaeaea;
    margin-right: 10px;
}

#notificationIcon {
    margin-right: 10px;
    color: #1f293b;
}

#notificationSettings {
    margin-left: 2em;
}

mat-button-toggle {
    position: relative;
    text-align: center !important;
    height: 20px !important;
    width: 20px !important;
    padding: 10px;
    top: auto !important;
    font-size: large;
    font-weight: normal;
    display: table;
}

mat-checkbox {
    display: block;
}
